@model LoginViewModel

<h2>Iniciar Sesión</h2>

<form asp-action="Login" method="post">
    <div>
        <label for="usuario">Usuario:</label>
        <input type="text" asp-for="Usuario" placeholder="Introduce tu usuario o correo" />
    </div>
    <div>
        <label for="password">Contraseña:</label>
        <input type="password" asp-for="Password" placeholder="Introduce tu contraseña" />
    </div>

    <button type="submit">Ingresar</button>

    @if (Model.ErrorMessage != null)
    {
        <div style="color: red;">@Model.ErrorMessage</div>
    }
</form>
